# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs

# Temporary files
*.tmp
*.bak

# Build artifacts
dist/
build/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db


